body {
    background: #480B12;
    color: #333333;
    margin-top: 8rem;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  .headingAbout{
    color: white;
    text-align: center;
  }
  .aboutP{
    color: white;
  }
  
  .bg-steel {
    background-color: #ffffff;
  }
  
  .navbar {
    height: 60px;
  }

  .site-header .navbar-nav .nav-link {
    color: #C31F33;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #480b12;
    font-weight: bold;
    border-bottom: 2px solid #480b12;
    
  }
  
  .site-header .navbar-nav .nav-link.active {
    color: #480b12;
    border-bottom: 2px solid #480b12;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #C31F33;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 70px;
    width: 70px;
    margin-right: 16px;
    object-fit: cover
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    object-fit: cover
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.image-logo {
    width: 150px; 
    height: 80px;
}

.element-with-color {
    background-color: #C31F33; 
    padding: 10px; 
  }

  a{
    color: #C31F33;
  }
  .cover {
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }

  .content-section{
    align-items: center;
    border: red;
  }

  .form-group {
    justify-content: space-between;
    max-width: 90%;
  }


.column{
  max-width: 50%;
}
@media screen and (max-width: 769px) {
  .column{
    max-width: 100%;
  }
}

.btn {
  background-color: #ae2938;
  border-color: #480b12;
  color: #fff;
  width: 30%
}


.custom-delete-btn {
  width: 150px;
}

.image-container{
  align-items: center;
}

.image-container {
  height: 600px;
  background-image: url('images/sidebar_img.jpg');
  background-size: cover;
  background-position: center;
}

.account-content-section
{
  padding:30px;
  background: #ffffff;
  margin:auto;
  width: 800px;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
}

.content-section {
  padding:30px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 800px;
  height: 500px;
  font-family: 'Open Sans', sans-serif;
}

.home-container
{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 800px;
}

.create-post-content
{
  padding:30px;
  background: #ffffff;
  margin: auto;
  width: 800px;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
}


[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}



.btn-primary:hover
{
  background-color:#480b12;
}

a:hover{
  color: #480b12;
}

.flash-message-container {
  margin-top: -70px; /* Adjust the margin-top value to position the flash message right below the navbar */ /* Add padding for spacing */
  padding-left:0px;
}

.post-content-section
{
  padding: 30px;
  background: #ffffff;
  margin:auto;
  width: fit-content;
  min-width: 700px;
  max-width: 1000px;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
}

.show-account-title
{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white
}
.person-card {
  height: 100%;
}
.person-image {
  height: 300px;
  object-fit: cover;
}