{% extends "layout.html" %}
{% block content %}

    <img class = "cover"src="static/lewis.png" alt="About Lewis" >
    <h2>Overview </h2>
    <p>Located 35 miles southwest of downtown Chicago, Lewis University is a comprehensive, 
        Catholic university where the traditions of liberal learning and preparation for professional 
        life give the university its educational identity and mission focus.

        Lewis provides more than 80 undergraduate majors and programs of study, 35 graduate programs, 
        and accelerated programs for working adults through the Colleges of 
        <a href="https://www.lewisu.edu/academics/coast/index.htm">Aviation, Science and Technology</a>,
        <a href="https://www.lewisu.edu/academics/cob/index.htm">Business</a>,
        <a href="https://www.lewisu.edu/academics/coess/index.htm">Education and Social Sciences</a>, 
        <a href="https://www.lewisu.edu/academics/coess/index.htm">Humanities, Fine Arts and Communications</a>,
        <a href="https://www.lewisu.edu/academics/cohfac/inidex.htm"> Nursing and Health Sciences</a>,
        <a href="https://www.lewisu.edu/academics/nursing/index.htm">Education and Social Sciences</a>, 
         Premier programs include
         <a href="https://www.lewisu.edu/academics/aviation/index.htm">aviation</a>, 
         <a href="https://www.lewisu.edu/academics/jlpss/index.htm">criminal/social justice</a>, 
         <a href="https://www.lewisu.edu/academics/coess/programs.htm">education</a>,
         <a href="https://www.lewisu.edu/academics/nursing/index.htm">nursing</a>,  
         <a href="https://www.lewisu.edu/academics/cob/index.htm">business</a>,    
         Lewis is one of many schools 
         sponsored by the 
         <a href="https://www.lewisu.edu/welcome/brothers.htm"> De La Salle Christian Brothers</a>
         with over 320 years of teaching experience in the 
         <a href="https://www.lewisu.edu/admissions/lasallianadvantage.htm"> Lasallian tradition</a>
         .</p>
    <h3>History</h3>
    <p>Founded in 1932 under the direction of the Chicago Archdiocese and Bishop Bernard J. Sheil, Lewis began 
        as the Holy Name Technical School for boys. Aviation technology was the special emphasis of instruction and the origin of toda
        y’s highly regarded Department of Aviation. In 1952 the school was renamed the Lewis College of Science and Technology. I
        n 1960, the De La Salle Christian Brothers - named after Saint John Baptist de La Salle, their founder and Patron Saint of 
        Educators – assumed direction of the institution. Today, with growing enrollment, outstanding programs, experienced faculty and motivated students, Lewis University is 
        recognized as one of the finest, mid-sized, comprehensive Catholic universities in the country. See a more detailed 
        <a href="https://www.lewisu.edu/welcome/lewis.htm">History</a>.</p>
{% endblock %}