{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="sidebar-content-section ml-5" style="padding:20px; background-color: white;">
      <h3>Quick Links</h3>
      <p class='text-muted'>Get quick access to important resources and information about Lewis University
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">
            <a href="https://www.lewisu.edu/index.htm" target="_blank">Lewis University</a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="https://www.lewisu.edu/portals/currentportal.htm" target="_blank">Current Students</a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="https://www.lewisu.edu/academics/academiccalendar.htm" target="_blank">Calendars</a>
          </li>
          <li class="list-group-item list-group-item-light">
            <a href="https://www.lewisu.edu/admissions/application.htm" target="_blank">Apply Now</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="col-md-9">
    {% for post in posts %}
    <div class="container-fluid">
      <article class="media home-container ml-5">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
          <div class="collapse" id="comments-{{post.id}}">
            <div class="card">
              <div class="card-body" id="comments-expanded-{{post.id}}">
                {% for comment in post.comments %}
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}" style="width:30px;height:30px ">
                    <a href="/posts/{{comment.author.username}}">{{comment.author.username}}</a>: {{comment.text}}
                  </div>
                  <div>
                    <small class="text-muted">{{comment.date_created.strftime('%Y-%m-%d')}}</small>
                    {% if current_user.id == comment.author.id or current_user.id == post.author.id %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                        </li>
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <p class="card-text">
            {% if post.comments|length > 0 %}
            <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
              <small>View {{post.comments|length}} Comments</small>
            </a>
            {% else %}
            <small class="text-muted">No Comments</small>
            {% endif %}
          </p>
          {% if current_user.is_authenticated %}
          <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
            <input type="text" id="text" name="text" class="form-control" placeholder="Add a comment!" />
            <button type="submit" class="btn btn-secondary">Comment</button>
          </form>
          {% endif %}
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
